@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --bg-dark: #262225;
  --text-light: #262225;
  --bg-light: #ECEBE9;
  --dk-blue: #29354B;
  --teal: #4C8891;
  --lt-green: #A0C8C3;
  --text-dark: #ECEBE9;
  --logo-path-light: url('../images/logoDark.png');
  --logo-path-dark: url('../images/logo.png');
}

.theme-dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.theme-light {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.opaque-bg-dark {
  background-color: var(--bg-dark);
  opacity: 0.4; /* Set opacity value between 0 and 1 */
  color: var(--text-light);
}

.opaque-bg-light {
  background-color: var(--bg-light);
  opacity: 0.4;
  color: var(--text-dark);
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../public/fonts/JetBrainsMono-Regular.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-size: var(--font-size-base);
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato sans-serif;
}

ul {
  list-style-type: disc;
}

.flex {
  display: flex
}

.fixed {
  position: fixed;
}

.inherit-width {
  width: inherit
}

.overflow-y-auto {
  overflow-y: auto;
}

.opaque-background {
  background-color: ;
}

.rounded-button {
  width: calc(100% - 24px);
  border: 2px solid var(--text-light);
  border-radius: 8px;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-light);
}

.theme-dark .rounded-button {
  border: 2px solid var(--text-dark);
  color: var(--text-dark)
}

.rounded-button:hover {
  background-color: var(--dk-blue);
  color: var(--bg-light);
}

.theme-dark .rounded-button:hover {
  background-color: var(--lt-green);
  color: var(--bg-dark);
}

.sidebar {
  width: 0px;
  height: 100vh;
  transition: width 0.3s;
  border-right: 2px solid transparent;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.sidebar.open {
  width: 150px;
  margin: right;
  border-right-color: var(--text-light); 
}

.sidebar-icon {
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.theme-dark .sidebar {
  border-color: var(--text-dark);
}

.theme-light .sidebar {
  border-color: var(--text-light);
}

.centered-flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radial-background {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, var(--bg-light) 0%, var(--bg-dark) 100%);
  overflow: hidden;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.logo {
  content: var(--logo-path-light);
  display: block;
  width: 100px;
  margin: 24px;
  transition: transform 1.5s;
  transform: translateY(-150%) rotate(0deg);
}

.theme-dark .logo {
  content: var(--logo-path-dark);
}

@keyframes slideAndRotate {
  0% {
    transform: translateY(-150%) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

.animated {
  animation: slideAndRotate 1.5s;
  animation-fill-mode: forwards;
}

.jetbrainFont {
  font-family: 'JetBrains Mono', monospace;
}

.centered-row {
  display: flex;
  align-items: center;
}

.animatedDiv {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  animation: fadeIn 4s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}